@mixin column-container () {
  margin: 0 auto;
  width: 80%;
}

@mixin column-right() {
  float: right;
  width: 45%;
}

@mixin column-left() {
  float: left;
  width: 45%;
}

@mixin column-single() {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
